<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    success
    <ul>
      <li>Tipo de pago: <%=payment_type%></li>
      <li>referencia externa: <%=external_reference%></li>
      <li>Id de pago: <%=collection_id%></li>
    </ul>
    <br />
    <a href="/">home</a>
  </body>
</html>